{% macro lead_status(lead, classMap = {}) %}
    {%- if lead.status is constant('STATUS_EXPECT', lead) -%}
        {% set class = classMap[lead.status]|default('label-expect') %}
    {%- elseif lead.status is constant('STATUS_ARBITRATION', lead) -%}
        {% set class = classMap[lead.status]|default('label-arbitration') %}
    {%- elseif lead.status is constant('STATUS_IN_WORK', lead) -%}
        {% set class = classMap[lead.status]|default('label-in-work') %}
    {%- elseif lead.status is constant('STATUS_TARGET', lead) -%}
        {% set class = classMap[lead.status]|default('label-target') %}
    {%- elseif lead.status in constant('STATUS_NOT_TARGET', lead) -%}
        {% set class = classMap[lead.status]|default('label-not-target') %}
    {%- elseif lead.status is constant('STATUS_ARCHIVE', lead)-%}
        {% set class = classMap[lead.status]|default('label-archive') %}
    {%- endif -%}
    <span class="label {{ class is defined ? class : '' }}">{{ ('lead.status.' ~ lead.status)|trans|capitalize }}</span>
{% endmacro %}