{% macro lead_status(lead, classMap = {}) %}
    {%- if lead.status is constant('STATUS_ACTIVE', lead) -%}
        {% set label, class = 'Ожидает', classMap[lead.status]|default('label-active') %}
    {%- elseif lead.status is constant('STATUS_BLOCKED', lead) -%}
        {% set label, class = 'Заблокирован',classMap[lead.status]|default('label-blocked') %}
    {%- elseif lead.status is constant('STATUS_RESERVED', lead) -%}
        {% set label, class = 'В работе', classMap[lead.status]|default('label-reserved') %}
    {%- elseif lead.status is constant('STATUS_SOLD', lead) -%}
        {% set label, class = 'Продан', classMap[lead.status]|default('label-sold') %}
    {%- elseif lead.status in constant('STATUS_NO_TARGET', lead) -%}
        {% set label, class = 'Не целевой', classMap[lead.status]|default('label-no-target') %}
    {%- elseif lead.status is constant('STATUS_EXPIRED', lead)-%}
        {% set label, class = 'Просрочен', classMap[lead.status]|default('label-expired') %}
    {%- else -%}
        {% set label, class = 'Не известно', classMap.unknown|default('label-unknown') %}
    {%- endif -%}
    <span class="label {{ class }}">{{ label }}</span>
{% endmacro %}