<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <title>Default</title>
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->

  <!-- Libs -->
  <link rel="stylesheet" href="libs/nice-select/nice-select.css" />
  <!-- Libs END -->

  <link rel="stylesheet" href="fonts/stylesheet.css" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/media.css" />
</head>

<body class="body-gray">
  <div class="wrapper fx-column">

    <!-- Main -->

    <div class="main fx-column">

      <!-- Header -->

      <div class="header">
        <div class="container fx align-center">

          <!-- Col -->

          <div class="col-3">
            <div class="logo fx">
              <a href="index.html"><img src="img/logo.png" alt="Логотип"></a>
            </div>
          </div>

          <!-- Col -->

          <div class="col-9">
            <div class="info fx fx-between">
              <div class="info__left fx align-center">
                <div class="notice">
                  <div class="notice__panel fx align-center">
                    <span class="notice__name">Уведомления</span>
                    <span class="notice__quantity flex-center">1</span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 306">
                      <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35" />
                    </svg>
                  </div>
                  <div class="notice__list__box">
                    <ul class="notice__list">
                      <li class="notice__item notice__item_red">
                        <div class="notice__item__top fx align-center">
                          <span class="notice__item__status notice__item__status_green">ВАЖНОЕ</span>
                          <span class="notice__item__date">10 февраля</span>
                        </div>
                        <div class="notice__item__body">
                          <p class="notice__item__txt">На Вашем аккаунте в Edward закончились деньги. Пополните баланс,
                            чтобы продолжить работу.</p>
                          <button class="notice__btn notice__btn_check"></button>
                        </div>
                      </li>
                      <li class="notice__item notice__item_red">
                        <div class="notice__item__top fx align-center">
                          <span class="notice__item__status notice__item__status_green">ВАЖНОЕ</span>
                          <span class="notice__item__date">10 февраля</span>
                        </div>
                        <div class="notice__item__body">
                          <p class="notice__item__txt">Ваш баланс приближается к нулю. Не забудьте его пополнить.</p>
                        </div>
                        <div class="notice__item__foot fx fx-wrap fx-between">
                          <a href="#" class="btn btn__green notice__item__btn">Пополнить</a>
                          <a href="#" class="btn btn__gray notice__item__btn">Позже</a>
                        </div>
                      </li>
                      <li class="notice__item">
                        <div class="notice__item__top fx align-center">
                          <span class="notice__item__status notice__item__status_yellow">НОВОСТИ</span>
                          <span class="notice__item__date">9 февраля</span>
                        </div>
                        <div class="notice__item__body">
                          <p class="notice__item__txt">Ув. пользователи. На платформе заработала система интеграций с
                            CRM системами.</p>
                          <button class="notice__btn notice__btn_refresh"></button>
                        </div>
                      </li>
                      <li class="notice__item">
                        <div class="notice__item__top fx align-center">
                          <span class="notice__item__status notice__item__status_gray">УВЕДОМЛЕНИЕ</span>
                          <span class="notice__item__date">9 февраля</span>
                        </div>
                        <div class="notice__item__body">
                          <p class="notice__item__txt">Ув. пользователи. На платформе заработала система интеграций с
                            CRM системами.</p>
                          <button class="notice__btn notice__btn_refresh"></button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="manager">
                  <div class="manager__panel fx align-center">
                    <div class="manager__box">
                      <p>Ваш менеджер</p>
                      <span class="manager__name">Алексей Киселев</span>
                    </div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 306">
                      <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35" />
                    </svg>
                  </div>
                  <div class="manager__info__box">
                    <div class="manager__info">
                      <p class="manager__infi__title">Ваш персональный менеджер:</p>
                      <p class="manager__info__name">Алексей Киселев</p>
                      <p class="manager__info__tel">Тел: +7 (499) 113-64-76</p>
                      <p class="manager__info__time">Пн-Пт с 9:00 до 19:00 по МСК</p>
                      <p class="manager__info__link"><a href="#" class="btn btn__green">Написать в службу поддержки</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user fx align-center">
                <div class="user__balance">
                  <p>Баланс: 5680 руб.</p>
                  <p>Холд: 580 руб.</p>
                </div>
                <div class="user__panel">
                  <span class="user__panel__img"><img src="img/other/user-1.png" alt="Пользователь"></span>
                  <div class="user__panel__nav__box">
                    <ul class="user__panel__nav">
                      <li class="user__panel__nav__item"><a href="#" class="user__panel__nav__link">Кабинет компании</a>
                      </li>
                      <li class="user__panel__nav__item"><a href="#" class="user__panel__nav__link">Мой профиль</a></li>
                      <li class="user__panel__nav__item"><a href="#" class="user__panel__nav__link">Оплата</a></li>
                      <li class="user__panel__nav__item"><a href="#" class="user__panel__nav__link">База знаний</a></li>
                      <li class="user__panel__nav__item"><a href="#" class="user__panel__nav__link">Выход</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <button class="navbar-toggle">
              <span class="icon-bar speed"></span>
              <span class="icon-bar speed"></span>
              <span class="icon-bar speed"></span>
            </button>
          </div>

        </div>
      </div>

      <!-- Wrap -->

      <div class="wrap fx">
        <div class="nav__bg"></div>
        <div class="container fx">

          <!-- Col -->

          <div class="col-3 nav-wrap">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-panel"></span>Панель
                    управления</a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-rooms"></span>Комнаты</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-leads"></span>Мои лиды</a>
                </li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-support"></span>Арбитраж /
                    поддержка <span class="notice__quantity">1111</span></a></li>
                <li class="nav__item nav__drop"><a href="#" class="nav__link nav__drop__icon"><span
                      class="nav__icon i-billing"></span>Биллинг</a>
                  <ul class="nav__subnav">
                    <li class="nav__item"><a href="#" class="nav__link">Личный счет</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">История операций</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Счета и акты</a></li>
                  </ul>
                </li>
                <li class="nav__item"><a href="#" class="nav__link"><span
                      class="nav__icon i-referral"></span>Реферальная программа</a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span
                      class="nav__icon i-integration"></span>Интеграции</a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span
                      class="nav__icon i-telephony"></span>Телефония</a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-panel"></span>Кабинет
                    компании</a></li>
              </ul>
            </nav>
          </div>

          <!-- Col -->

          <div class="col-9 fx-column content-wrap">

            <!-- Content -->

            <div class="content">

              <!-- Title -->

              <div class="title">
                <h3 class="title__h3">Ошибки по платформе</h3>
              </div>

              <!-- Контент -->

              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_errors__open btn__open__modal">Ошибки по платформе</button></p>

              <!-- Title -->

              <div class="title" style="margin-top: 50px;">
                <h3 class="title__h3">Помошник</h3>
              </div>

              <!-- Контент -->

              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_start__open btn__open__modal">Начало</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_company__open btn__open__modal">Настройка компании (компания)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_profile__open btn__open__modal">Настройка профиля (вебмастер)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_office__open btn__open__modal">Настройка офиса (компания)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_room__open btn__open__modal">Создание комнаты (общая)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_invitations__open btn__open__modal">Первый вход в комнату
                  (вебмастер)</button></p>
              <p class="create-room__paragraph"><button class="btn btn__green modal_leads__open btn__open__modal">Первый
                  вход в комнату (компания)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_basket__open btn__open__modal">Карточка лида (компания)</button></p>
              <p class="create-room__paragraph"><button
                  class="btn btn__green modal_append__open btn__open__modal">Добавление лида (вебмастер)</button></p>

            </div>

            <!-- Footer -->

            <div class="footer">
              <span class="footer__copyright">© 2019 Edward</span>
            </div>

          </div>

        </div>
        <div class="footer__bg"></div>
      </div>

    </div>

  </div>

  <!-- Modal errors -->

  <div class="modal modal_errors">
    <div class="modal__box flex-center">
      <div class="modal__box__errors">
        <div class="modal__box__errors__body fx align-center">
          <span class="modal__box__errors__icon"></span>
          <div class="modal__box__errors__txt">
            <h3>Недостаточно средств на балансе</h3>
            <p>На Вашем балансе недостаточно средств, чтобы приобрести лида или сделать звонок.</p>
            <p>Пожалуйста, пополните баланс, перейдя в раздел «Биллинг»</p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Пополнить баланс</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_start">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__img"><img src="img/other/modal.png" alt="Начало"></div>
          <div class="modal__assistant__txt">
            <h3>Привет.</h3>
            <p class="modal__assistant__txt__item">Меня зовут Эдвард. Сейчас я познакомлю тебя с основными возможностями
              платформы.</p>
            <p class="modal__assistant__txt__item">Здесь Вы сможете безопасно покупать и продавать лиды. Наша платформа
              гарантирует прозрачную и удобную работу между вебмастером и рекламодателем.</p>
            <p class="modal__assistant__txt__item"><b>Как Вы планируете работать на платформе?</b></p>
            <ul class="modal__assistant__type">
              <li><a href="#" class="btn btn__green">Как рекламодатель</a><span>я планирую покупать лиды</span></li>
              <li><a href="#" class="btn btn__green">Как вебмастер</a><span>я буду только продавать лиды</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_company">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-compamy"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Настройка компании</h3>
            <p class="modal__assistant__txt__item">Первым этапом Вам предстоит создать компанию и заполнить карточку
              организации.</p>
            <p class="modal__assistant__txt__item">Вы можете зарегистрироваться как юридическое или как физическое лицо.
            </p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-advice"></span>
              <p class="modal__assistant__txt__item"><b>Указывайте настоящие данные. По этим реквизитам будет
                  формироваться счет на оплату и закрывающие документы для бухгалтерии.</b></p>
            </div>
            <p class="modal__assistant__txt__item">Подробно как настраивать профиль компании, Вы можете ознакомиться <a
                href="#">просмотрев видеоролик.</a></p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_profile">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-profile"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Настройка профиля</h3>
            <p class="modal__assistant__txt__item">Первым этапом Вам предстоит заполнить свой профиль.</p>
            <p class="modal__assistant__txt__item">Укажите свои контакты в месенджерах, чтобы оперативно связываться со
              службой поддержки.</p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-advice"></span>
              <p class="modal__assistant__txt__item"><b>Указывайте настоящие данные. Агент поддержки будет связываться
                  по этим контактам, чтобы подтвердить заявку на выплату.</b></p>
            </div>
            <p class="modal__assistant__txt__item">Также в профиле Вы можете настроить систему оповещений или получить
              ключ API для автоматизации загрузки лида на платформу.</a></p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_office">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-office"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Настройки офиса</h3>
            <p class="modal__assistant__txt__item">Далее Вам предстоит указать адрес офиса и его название.</p>
            <p class="modal__assistant__txt__item">Название и адрес офиса указывают произвольно и доступно для просмотра
              только Вам.</p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-bell"></span>
              <p class="modal__assistant__txt__item"><b>Обязательно укажите номер телефона для входящих звонков.</b></p>
            </div>
            <p class="modal__assistant__txt__item">После покупки лида, Вам предстоит нажать кнопку «Сделать первый
              звонок».</p>
            <p class="modal__assistant__txt__item">АТС платформы, сначала дозвониться по указанному номеру для входящих
              звонков, а затем Вашему потенциальному клиенту, тем самым соединив Вас в один разговор.</p>
            <p class="modal__assistant__txt__item"><a href="#">Подробнее</a></p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_room">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-keys"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Создание комнаты</h3>
            <p class="modal__assistant__txt__item">Для начала работы на платформе Вам потребуется создать комнату или
              присоединиться к уже ранее созданной комнате по ссылке-приглашению, полученной от другого пользователя.
            </p>
            <p class="modal__assistant__txt__item"><b>Как создать новую комнату:</b></p>
            <p class="modal__assistant__txt__item">Вам предстоит заполнить: название комнаты, сферу деятельности,
              стоимость целевого лида и его критерии.</p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-category"></span>
              <p class="modal__assistant__txt__item"><b>Согласуйте критерии целевого лида со своим вебмастером или
                  рекламодателем <span class="modal__assistant__txt__item__red">(лид будет считаться целевым, если он
                    соотвествует всем указанным критериям).</span></b></p>
            </div>
            <p class="modal__assistant__txt__item">Подробнее как создавать комнату, вы можете ознакомиться <a
                href="#">просмотрев видеоролик.</a></p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_invitations">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-lock"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Комната и приглашение участника</h3>
            <p class="modal__assistant__txt__item">Отлично, вы попали в свою первую комнату. Теперь нужно добавить лида,
              для этого нажмите кнопку «Добавить лид» в верхней части экрана.</p>
            <p class="modal__assistant__txt__item">После публикации, лид будет доступен для покупки всем участникам
              комнаты.</p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-invitations"></span>
              <p class="modal__assistant__txt__item"><b>Лиды продаются только в одни руки. Если рекламодатель №1 выкупил
                  его, то второй рекламодатель уже не сможет с ним работать.</b></p>
            </div>
            <p class="modal__assistant__txt__item">Чтобы пригласить рекламодателя в комнату, нажмите кнопку «Пригласить
              участника», которая находится сразу под названием комнаты, и отправьте ему ссылку-приглашение.</p>
            <p class="modal__assistant__txt__item">Рекламодателю предстоит перейди по ссылке и нажать кнопку «принять
              приглашение».</p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_leads">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-lock"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Список лидов и приглашение участника</h3>
            <p class="modal__assistant__txt__item">Отлично, вы попали в свою первую комнату. Теперь нужно дождаться пока
              вебмастер загрузит в комнату первые лиды.</p>
            <p class="modal__assistant__txt__item">Платформа будет оповещать Вас о добавлении нового лида, используя
              e-mail, sms или telegram (настроить отправку оповещений, вы можете в своем профиле).</p>
            <div class="modal__assistant__advice fx align-center">
              <span class="modal__assistant__advice__icon i-invitations"></span>
              <p class="modal__assistant__txt__item"><b>Лиды продаются только в одни руки. Если рекламодатель №1 выкупил
                  его, то второй рекламодатель уже не сможет с ним работать.</b></p>
            </div>
            <p class="modal__assistant__txt__item">Чтобы пригласить вебмастера в комнату, нажмите кнопку «Пригласить
              участника», которая находится сразу под названием комнаты, и отправьте ему ссылку-приглашение.</p>
            <p class="modal__assistant__txt__item">Вебмастеру предстоит перейди по ссылке и нажать кнопку «принять
              приглашение».</p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_basket">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-basket"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Просмотр информации и покупка лида</h3>
            <p class="modal__assistant__txt__item">Карточка лида заполняется вебмастером на основании данных, которые он
              смог получить.</p>
            <p class="modal__assistant__txt__item">Как правило, большинство лидов имеют информацию: имя, телефон, город,
              источник, дата заявки и подробная информация (заполнение опроса на сайте и т.д).</p>
            <p class="modal__assistant__txt__item">Если вебмастер предварительно обрабатывает лида, он может указать его
              заинтересованность в покупке по 10 бальной шкале, является ли лид ЛПР и загрузить запись предварительного
              разговора.</p>
            <p class="modal__assistant__txt__item"><b>Как купить лид:</b></p>
            <p class="modal__assistant__txt__item">Внизу карточки вы найдете кнопку «Взять в работу». После этого деньги
              за его покупку перейдут в Холд и будут дожидаться конечного статуса (целевой или нецелевой).</p>
            <p class="modal__assistant__txt__item">Следом для Вас появится кнопка «Сделать первый звонок», после
              нажатия, АТС платформы начнет процесс звонка.</p>
            <p class="modal__assistant__txt__item">Более подробно в нашем <a href="#">видеоролике</a>.</p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal assistant -->

  <div class="modal modal_assistant modal_append">
    <div class="modal__box flex-center">
      <div class="modal__assistant">
        <div class="modal__assistant__body fx align-center">
          <div class="modal__assistant__icon i-append"></div>
          <div class="modal__assistant__txt modal__assistant__txt__other">
            <h3 class="modal__assistant__title__green">Добавление лида в комнату</h3>
            <p class="modal__assistant__txt__item">Как правило, вебмастера заполняют поля: имя, телефон, город, источник
              и подробнее о лиде (например, заполнение опроса на сайте). Среди всех полей, обязательным для заполнения
              является только телефон.</p>
            <p class="modal__assistant__txt__item">Если Вы предварительно обрабатываете лида, укажите его
              заинтересованность в покупке по 10 бальной шкале и загрузите аудио файл с записью разговора.</p>
            <p class="modal__assistant__txt__item"><b>Действия рекламодателя, после публикации:</b></p>
            <p class="modal__assistant__txt__item">После покупки лида рекламодателем, его номер телефона будет скрыт.
              Звонки осуществляются через АТС платформы путем двухсторонней связи.</p>
            <p class="modal__assistant__txt__item">После разговора, если рекламодатель нажмет «Лид целевой», деньги
              перейдут к Вам на баланс. Но если он нажмем «Лид нецелевой», служба поддержки прослушает запись разговора
              и примет решение относительно его конечного статуса.</p>
            <p class="modal__assistant__txt__item">Узнать, как рекламодатель обрабатывает лидов, Вы можете из нашего <a
                href="#">видеоролика</a>.</p>
          </div>
        </div>
        <div class="modal__box__foot">
          <a href="#" class="btn btn__green text-center">Понятно</a>
        </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
  <![endif]-->
  <script src="libs/jquery/jquery-3.4.0.min.js"></script>
  <script src="libs/maskedinput/jquery.maskedinput.min.js"></script>
  <script src="libs/nice-select/jquery.nice-select.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Yandex.Metrika counter -->
  <!-- /Yandex.Metrika counter -->
  <!-- Google Analytics counter -->
  <!-- /Google Analytics counter -->
</body>

</html>