{%- block header -%}
    <div class="header">
        <div class="container fx align-center">
            <div class="col-3">
                <div class="logo fx">
                    <a href="index.html"><img src="img/logo.png" alt="Логотип"></a>
                </div>
            </div>
            <div class="col-9">
                <div class="info fx fx-between">
                    <div class="info__left fx align-center">
                        {# Тут нужно будет вызывать NotificationController::widget #}
                        {%- include('@App\Notification\widget.html.twig') -%}
                        
                        {# Тут нужно будет вызывать ManagerController::widget (Логики с назначением менеджера пока нет, как будет тогда будет и виджет) #}
                        {%- include('@App\Manager\widget.html.twig') -%}
                    </div>
                    <div class="user fx align-center">
                        {# Тут нужно будет вызывать DefaultController::headerMenuWidget #}
                        {%- include('@App\Default\header_menu_widget.html.twig') -%}
                    </div>
                </div>
                <button class="navbar-toggle">
                    <span class="icon-bar speed"></span>
                    <span class="icon-bar speed"></span>
                    <span class="icon-bar speed"></span>
                </button>
            </div>
        </div>
    </div>
{%- endblock -%}
