<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-panel"></span>Панель управления</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-rooms"></span>Комнаты</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-leads"></span>Мои лиды</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-support"></span>Арбитраж / поддержка <span class="notice__quantity">1111</span></a></li>
        <li class="nav__item nav__drop"><a href="#" class="nav__link nav__drop__icon"><span class="nav__icon i-billing"></span>Биллинг</a>
            <ul class="nav__subnav">
                <li class="nav__item"><a href="#" class="nav__link">Личный счет</a></li>
                <li class="nav__item"><a href="#" class="nav__link">История операций</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Счета и акты</a></li>
            </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-referral"></span>Реферальная программа</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-integration"></span>Интеграции</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-telephony"></span>Телефония</a></li>
        <li class="nav__item"><a href="#" class="nav__link"><span class="nav__icon i-panel"></span>Кабинет компании</a></li>
    </ul>
</nav>