{% extends '@App/layout.html.twig' %}

{% block content %}
    {%- if app.session.flashBag.has('success') -%}
        <div>
            {%- for message in app.session.flashBag.get('success') -%}
                <div class="text-green">{{ message }}</div>
            {%- endfor -%}
        </div>
    {%- endif -%}
    Заглушка страницы список моих лидов
{% endblock %}