.notifications .notifications__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}

.notifications .notifications__menu .notifications__menu__new_icon {
    background: #00a368;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.notifications .notifications__popup {

    margin-top: 16px;
    left: -8px;

    width: 310px;
    max-height: 400px;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    overflow-y: auto;
    -webkit-box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 20px -5px rgba(0, 0, 0, 0.75);
    display: none;
}

.notifications .notifications__popup .notifications__popup__empty {
    color: #3a3a3a;
    margin: 20px;
    text-align: center;
}

.notifications .notifications__popup .notifications__popup__item {
    margin: 5px;
    padding: 5px 5px 12px 5px;
    background: #F2F2F2;
    color: #3a3a3a;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
}

.notifications .notifications__popup .notifications__popup__item.notice__item_red {
    border: 1px solid red;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_header .notifications__popup__item_type {
    background: #C2C0C3;
    padding: 6px 3px 3px 3px;
    border-radius: 4px;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_header .notifications__popup__item_type.green {
    background: #00a368;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_header .notifications__popup__item_date {
    margin-left: 10px;
    font-size: 12px;
    color: #a7a7a7;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_container {
    display: flex;
    justify-content: space-between;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_button_container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_button_container .hide {
    display: none;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_button_container .notifications__popup__item_read {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    color: #00a368;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_button_container .notifications__popup__item_unread {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    color: #00a368;
}

.notifications .notifications__popup .notifications__popup__item .notifications__popup__item_container .notice__item__body a.btn {
    width: 46%;
    padding: 3px 10px;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    background: #00a368;
}

.notice__item__body {
    margin-top: 10px;
    padding-right: 40px;
}

.notice__item__txt {
    color: #4b4b4b;
    font-size: 13px;
}

.notifications .notice__item__body .fx {display: -webkit-box;display: -ms-flexbox;display: flex;}
.notifications .notice__item__body .fx-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.notifications .notice__item__body .fx-between {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.notifications .notice__item__body .notice__item__foot {
    margin-top: 15px;
}

.notifications .notifications__popup__item_button_container .notice__btn  {
    opacity: .5;
    width: 18px;height: 19px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
}

.notifications .notifications__popup__item_button_container .notice__btn:hover {
    opacity: 1;
}

.notifications .notifications__popup__item_button_container .notice__btn_check {
    background: url(/bundles/app/v3/img/icons/i-check-green.png) center no-repeat;
}

.notifications .notifications__popup__item_button_container .notice__btn_refresh {
    background: url(/bundles/app/v3/img/icons/i-refresh-green.png) center no-repeat;
}