{% extends '@App/v2/blank_layout.html.twig' %}

{% block content %}
    <section class="section_invite">
        <div class="wrapper">
            <div class="box center">
                <span class="offense">Приглашение уже не доступно</span>
                <h2>Возможно Вы уже приняли или отклонили предложение <br>в своем личном кабинете. </h2>
            </div>
        </div>
        <div class="footer">
            <p>© 2019 Edward - решения для бизнеса</p>
        </div>
    </section>
{% endblock %}