{% extends '@App/v2/blank_layout.html.twig' %}

{% block content %}
    <section class="section_invite">
        <div class="wrapper">
            <div class="box center">
                <span class="offense">:(</span>
                <h2>К сожалению, Вы отказались от участия в комнате. </h2>
            </div>
        </div>
        <div class="footer">
            <p>© 2019 Edward - решения для бизнеса</p>
        </div>
    </section>
{% endblock %}