{% extends '@App/v2/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12 content_box">
                <div class="content_title">
                    <div class="main_title">
                        <h1>Пригласить компанию в комнату #{{ room.id }} - {{ room.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 invite_webmaster">
                        <div class="web_title">Отправьте ссылку</div>
                        <div class="box_link">
                            <div class="link">
                                <img src="{{ asset('bundles/app/v2/img/link.png') }}">
                            </div>
                            <div class="text">
                                {{ absolute_url(path('app_index', {'i': room.inviteToken[26:]})) }}
                            </div>
                        </div>
                        <p>Вы можете отправить партнеру прямую ссылку, чтобы пригласить присоедениться его к своей комнате</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
