<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edward External Lead Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <style>
    
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    body { font-family:'Roboto', sans-serif;}
    /* Блок формы */
    .ext_form { width:440px; border: 2px solid #afafaf; border-radius: 5px; 
        background-color: white; color: #333333; margin: 0 auto;}
    /* Основной заголовок */
    .ext_form h1 { margin: 24px auto 14px; text-align: center; font-size: 22px; font-weight: normal;}
    /*Абзац после заголовка*/
    .ext_form h1+p{ color:#6b6b6b; font-size: 16px; text-align: center; line-height: 1.2em;}
    /* основная ошибка */
    .ext_form_main_error { display:none; position: relative; color: tomato; font-size:14px; text-align:center; margin-bottom:10px;}  
    /*Группа полей для заполнения*/
    .ext_form_fields{ display: block; width: 296px; margin: 0 auto;}
    /* Метка полей */
    label { display: block; margin-top: 10px; margin-bottom: 5px; font-size: 15px;}
    /* Поле ввода - база */
    input[type="text"] { width:275px; height: 40px; border: 1px solid #afafaf; border-radius: 3px; 
        display: inline-block; font-size: 18px; margin-bottom: 10px; padding-left: 10px; padding-right: 10px; }
    /* Поле ввода - в фокусе */
    input[type="text"]:focus { box-shadow: 0px 0px 0px 2px #00d498 inset; }

    input[type="text"]::placeholder { color:lightgray; font-style: italic; padding-left: 10px; padding-right: 10px;}

    input[type="button"] {
        background-color:#00a468; font-size: 18px; color: white; display: block; position:relative; width: 100%; 
        height: 45px; border: 1px #00a468; border-radius: 3px; margin: 10px auto; }

    input[type="button"]:hover{ background-color: #00b478; }

    input[type="button"]:active{ background-color: #00d498; }

    a:link { color:#00a468; text-decoration: none; }

    a:focus { outline: none; text-decoration: underline; }

    a:active { color:#00d498; text-decoration: underline; }

    a:hover{ color:#00b478; text-decoration: underline; }

    .ext_form_footer > p { margin: 20px auto 30px; font-size:13px; display: block; width:400px; color: #6b6b6b; 
        text-align: center; position:relative; }

    .ext_form_redsign { display: none; position: absolute; top:236px; left:390px; height: 44px; width: 10px; 
        background: tomato;}

    .ext_form_redsign:before { content:""; height: 0; width: 0; position: absolute; left: 10px; 
        border-left: 15px solid tomato; border-top: 22px solid transparent; border-bottom: 22px solid transparent;}

    .ext_form_redsign:after { content:"!"; position: absolute; font-family: serif; font-weight: bolder; 
        font-size: 30px; font-style: normal; color: white; top:5px; left:3px; }

    .ext_form_tooltip { display:none; position: absolute; background-color:red; color:white; 
        font-family:sans-serif; font-size:14px; padding:5px 15px 5px 15px; }
    
    </style>
</head>
<body style="background-color: darkslategray;">
<!-- Код формы -->
<div class="ext_form">
    <div style="margin-bottom: 20px;">
        <h1>Оставьте свои контактные данные</h1>
        <p>и&nbsp;наш менеджер свяжется с&nbsp;Вами<br>в&nbsp;ближайшее время</p>
    </div>
    <!-- заголовок с общими ошибками -->
    <div id="main_error" class="ext_form_main_error"><p>Общая ошибка</p></div>
    <div class="ext_form_fields">    
        
        <form novalidate>
            <div>
                <label for="nm">Ваше имя:</label>
                <input id="nm" type="text" name="name" placeholder="пример: Иван"/>
            </div>
            <div>
                <label for="ph">Ваш телефон: <span style="font-size: 14px; color:#6b6b6b;">(обязательное поле)</span></label>
                <input id="ph" type="text" name="phone" placeholder="пример: +7(900)100-10-20" pattern="\+7\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}"/>
            </div>
            <div>
                <input id="btn" type="button" value="Отправить заявку"/>
            </div>
        </form>
    </div>
    <!-- Сообщение об отвественности -->
    <div class="ext_form_footer">
        <p>Отправляя сведенья через электронную форму, вы&nbsp;соглашаетесь с условиями <a href="http://wiki.edward-lead.ru/?anchor=Politika%20konfidentsialynosti" target="_blank">Политики конфиденциальности</a></p>
    </div>
    
    <!-- Знак ошибки -->
    <div id="sign" class="ext_form_redsign"></div>
    <!-- Всплывающее сообщение -->
    <div id="tooltip" class="ext_form_tooltip">1.Сообщение об ошибке<br>2.Другая ошибка<br>3.Еще одна ошибка</div>

</div>
<!--/ Код формы  -->

<!-- Validator -->
<script> 
    $(window).load(function()
    {
        $('#ph').inputmask({ 
            mask: { "mask": "+7(###)###-##-##" }, 
            greedy: false, 
            definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
        });
        $('#eml').inputmask('email');
        $('#eml').inputmask({'autoUnmask':true});
        
        $('#btn').click(function(){
            var form_valid = false;
            let url = '//edward.local:8000/edward.php';
            let data = {
                name: $('#nm').val(),
                phone: $('#ph').val(),
                hasAgreement: true
            };
            let errName, errMsg;
            
            $.post('//edward.local:8000/edward.php', data,
                function(response,status){
                    //debugger;
                    alert(response.id);
                /*if(status=='success'){
                    alert(JSON.strinfy(response));
                } else {
                    alert('faild');
                }*/
                }
            ).fail(function(xhr){
                debugger;
                let obj = xhr.responseJSON;
                let msgMain = "";
                let msgTooltip = "";
                
                if(obj == null) return;

                for(o in obj){ //Для всех элементов массива
                    if(typeof o == 'string'){ // Если это просто текст
                        //добавить ошибку в заголовок
                        if(!msgMain.length){
                            msgMain = o;
                        }else{
                            msgMain +='<br>'+o;
                        }
                    }
                    if(typeof o == 'object'){ //Если это объект
                        //показать ошибку в тултипе поля
                        if(typeof o['phone'] == 'array'){
                            for(p in o['phone']){
                                if(!msgTooltip.length){
                                    msgTooltip = p;
                                }else{
                                    msgTooltip += '<br>'+p;
                                }
                            }
                        }
                    }
                }
                //Заполнение объектов на форме
                
                if(msgMain.length){ //Если основные ошибки заполнены
                    //$('main_error').css('content') = msgMain;
                    //$('main_error').css('display') = 'block';
                }
                if(msgTooltip.length){ //Если ошибки поля заполнены
                    //$('sign').css('display') = 'block';
                    //$('tooltip').css('content') = msgTooltip;
                    //$('tooltip').css('display') = 'block';
                }
            });// end of post.fail()
        });//end of button.click()
    });//end of document.load()
</script>
<!--/ Validator-->
<!-- TODO:
1)-Выпилить из контроллера html
2)-Переключиться к нативному JS
3)-Отказаться внешних библиотек
4)+Сделать проверку ответа от Бэкэнда
5)Вынести стили в общий /web/lead_external_form.css
5+)Проверить подгрузку инлайн скриптов
 -->

</body>
</html>
