<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edward Lead Form</title>
</head>
<body>
<!-- Код формы -->
<div>
    <div>
        <h1>Оставьте свои контактные данные</h1>
        <p>и наш менеджер свяжется с Вами в ближайшее время</p>
    </div>
    <form>
        <div>
            <label>Ваше имя:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Ваш телефон: (обязательное поле)</label>
            <input type="text" name="phone">
        </div>
        <div>
            <label>Ваш email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <button>Отправить заявку</button>
        </div>
    </form>
    <div>
        <p>Отправляя сведенья через электронную форму, вы соглашаетесь с условиями <a>Политики конфиденциальности</a></p>
    </div>
</div>
<!--/ Код формы  -->
</body>
</html>