@font-face {
    font-family: "Helvetica Neue Cyr - Roman";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Helvetica Neue Cyr - Roman", sans-serif;
}

.ext_form {
    /* Блок формы */
    width:440px;
    height:502px;
    border: 2px solid #afafaf;
    border-radius: 5px; 
    background-color: white; 
    color: #333333;
}
.ext_form h1 {
    /* Основной заголовок */
    margin: 24px auto 14px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
.ext_form h1+p{
    /*Абзац после заголовка*/
    color:#6b6b6b;
    font-size: 16px;
    text-align: center;
    line-height: 1.2em;
}
.ext_form_fields{
    /*Группа полей для заполнения*/
    display: block;
    width: 296px;
    margin: 0 auto;
}
label {
    /* Метка полей */
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

input[type="text"] {
    /* Поле ввода - база */
    width:275px;
    height: 40px;
    border: 1px solid #afafaf;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]:focus{
    /* Поле ввода - в фокусе */
    outline-color: #00a468;
    outline-width: 2px;
    outline-style: dashed;

}

input[type="text"]::placeholder {
    color:lightgray;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="button"] {
    background-color:#00a468; 
    font-size: 18px; 
    color: white;  
    display: block;
    position:relative; 
    width: 100%; 
    height: 45px;
    border: 1px #00a468; 
    border-radius: 3px;
    margin: 10px auto;
}

input[type="button"]:hover{
    background-color: #00b478;
    
}

input[type="button"]:active{
    background-color: #00d498;
}

a:link {
    color:#00a468;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

a:active {
    color:#00d498;
    text-decoration: underline;
}

a:hover{
    color:#00b478;
    text-decoration: underline;
}

.ext_form_footer > p {
    margin: 35px auto;
    font-size:13px;
    display: block; 
    width:400px; 
    color: #6b6b6b; 
    text-align: center; 
    position:relative;     
}

.ext_form_redsign {
    display: none;
    position: absolute;
    top:236px;
    left:390px;
    height: 44px; 
    width: 10px; 
    background: tomato;
}

.ext_form_redsign:before {
    content:"";
    height: 0; 
    width: 0;
    position: absolute; 
    left: 10px; 
    border-left: 15px solid tomato;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

.ext_form_redsign:after {
    content:"!";
    position: absolute;
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
    font-style: normal;
    color: white;
    top:5px;
    left:3px;
}
.ext_form_err_msg {
    display:none;
    position: absolute;
    background-color:red;
    color:white;
    font-family:sans-serif;
    font-weight: bold;
    font-size:14px;
    padding:10px 25px 10px 25px;
}  


