{% extends '@App/Security/registration.html.twig' %}

{% block content %}
<div class="form__reg form">
    <p class="form__header">Регистрация завершена!</p>
    <p class="form__text">Пользователь успешно зарегистрирован.</p>
</div>
{% endblock %}