{% extends '@App/blank_layout_v2.html.twig' %}

{% block content %}
    <div>
        <div>Принять приглашение в комнату "{{ room.name }}".</div>
        <div>
            <div>
                <a href="{{ path('app_accept_invite', {'token': room.inviteToken}) }}">Принять</a>
            </div>
            <div>
                <a href="{{ path('app_reject_invite') }}">Отклонить</a>
            </div>
        </div>
    </div>
    {#<section class="section_invite">#}
        {#<div class="wrapper">#}
            {#<div class="box center">#}
                {#<h2>Приглашение присоедениться к закрытой <br> к комнате #2354 - Название комнаты</h2>#}
                {#<div class="box_btn">#}
                    {#<a href="#" class="btn green">Принять</a>#}
                    {#<a href="#" class="btn gray">Отклонить</a>#}
                {#</div>#}
                {#<a href="#" class="whatis">Что это?</a>#}
            {#</div>#}
        {#</div>#}
        {#<div class="footer">#}
            {#<p>© 2019 Edward - решения для бизнеса</p>#}
        {#</div>#}
    {#</section>#}
    {#<section class="section_invite">#}
        {#<div class="wrapper">#}
            {#<div class="box center">#}
                {#<span>Отлично!</span>#}
                {#<h2>Вы присоеденились к комнате #21547 - Название комнаты</h2>#}
                {#<p>Теперь Вы можете начать работу</p>#}
                {#<a href="#" class="btn green goto">Перейти в комнату</a>#}
            {#</div>#}
        {#</div>#}
        {#<div class="footer">#}
            {#<p>© 2019 Edward - решения для бизнеса</p>#}
        {#</div>#}
    {#</section>#}
    {#<section class="section_invite">#}
        {#<div class="wrapper">#}
            {#<div class="box center">#}
                {#<span class="offense">:(</span>#}
                {#<h2>К сожалению, Вы отказались от участия в комнате. </h2>#}
            {#</div>#}
        {#</div>#}
        {#<div class="footer">#}
            {#<p>© 2019 Edward - решения для бизнеса</p>#}
        {#</div>#}
    {#</section>#}
    {#<section class="section_invite">#}
        {#<div class="wrapper">#}
            {#<div class="box center">#}
                {#<span class="offense">Приглашение уже не доступно</span>#}
                {#<h2>Возможно Вы уже приняли или отклонили предложение <br>в своем личном кабинете. </h2>#}
            {#</div>#}
        {#</div>#}
        {#<div class="footer">#}
            {#<p>© 2019 Edward - решения для бизнеса</p>#}
        {#</div>#}
    {#</section>#}
{% endblock %}