<div class="content">
    <div class="row">
        <div class="col-12 content_box">
            <div class="content_title">
                <div class="main_title">
                    <h1>Пригласить компанию в комнату #12155 - Оконная Империя Саратов</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 invite_webmaster">
                    <div class="web_title">Отправьте ссылку</div>
                    <div class="box_link">
                        <div class="link">
                            <img src="{{ asset('bundles/app/v2/img/link.png') }}">
                        </div>
                        <div class="text">
                            http://edward-lead.ru/p/5sd481s
                        </div>
                    </div>
                    <p>Вы можете отправить партнеру прямую ссылку, чтобы пригласить присоедениться его к своей комнате</p>
                </div>
                <div class="col-xl-7 invite_webmaster">
                    <div class="web_title">
                        Отправьте приглашение на эл. почту
                    </div>
                    <div class="form">
                        <form action="" id="invite">
                            <div class="fields">
                                <input name="email" id="email" value="" placeholder="Введите E-mail" type="text">
                            </div>
                            <button>Отправить</button>
                        </form>
                    </div>
                    <p>Партнёру придёт письмо с приглашением присоедениться <br> к закрытой комнате</p>
                </div>
            </div>
        </div>
    </div>
</div>