<div class="user__balance">
    <p>Баланс: 5680 руб.</p>
    <p>Холд: 580 руб.</p>
</div>
<div class="user__panel">
    <span class="user__panel__img"><img src="img/other/user-default-header.png" alt="Пользователь"></span>
    <div class="user__panel__nav__box">
        <ul class="user__panel__nav">
            <li class="user__panel__nav__item">
                <a href="#" class="user__panel__nav__link">Кабинет компании</a>
            </li>
            <li class="user__panel__nav__item">
                <a href="#" class="user__panel__nav__link">Мой профиль</a>
            </li>
            <li class="user__panel__nav__item">
                <a href="#" class="user__panel__nav__link">Оплата</a>
            </li>
            <li class="user__panel__nav__item">
                <a href="#" class="user__panel__nav__link">База знаний</a>
            </li>
            <li class="user__panel__nav__item">
                <a href="#" class="user__panel__nav__link">Выход</a>
            </li>
        </ul>
    </div>
</div>