{% extends '@App/v3/layout_light.html.twig' %}
{% block content %}
<div class="p-external__box invitations fx-column flex-center text-center">
    <p class="invitations__txt">Приглашение присоединиться к закрытой <br />к комнате #2354 - Название комнаты</p>
    <div class="page-wrap__control fx">
        <a href="{{ path('app_room_invite_accept', {'token': room.inviteToken}) }}" class="btn btn__green page-wrap__link" >Принять</a>
        <a href="{{ path('app_room_invite_reject', {'token': room.inviteToken}) }}" class="btn btn__gray__light page-wrap__link" >Отклонить</a>
    </div>
    <p class="create-room__paragraph"><a href="#">Что это?</a></p>
</div>
{% endblock %}