<div class="notice">
    <div class="notice__panel fx align-center">
        <span class="notice__name">Уведомления</span>
        <span class="notice__quantity flex-center">0</span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 306">
            <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35"/>
        </svg>
    </div>
    <div class="notice__list__box">
        <ul class="notice__list">
            <li class="notice__item">Нет уведомлений</li>
            {#<li class="notice__item notice__item_red">#}
                {#<div class="notice__item__top fx align-center">#}
                    {#<span class="notice__item__status notice__item__status_green">ВАЖНОЕ</span>#}
                    {#<span class="notice__item__date">10 февраля</span>#}
                {#</div>#}
                {#<div class="notice__item__body">#}
                    {#<p class="notice__item__txt">На Вашем аккаунте в Edward закончились деньги. Пополните баланс, чтобы продолжить работу.</p>#}
                    {#<button class="notice__btn notice__btn_check"></button>#}
                {#</div>#}
            {#</li>#}
            {#<li class="notice__item notice__item_red">#}
                {#<div class="notice__item__top fx align-center">#}
                    {#<span class="notice__item__status notice__item__status_green">ВАЖНОЕ</span>#}
                    {#<span class="notice__item__date">10 февраля</span>#}
                {#</div>#}
                {#<div class="notice__item__body">#}
                    {#<p class="notice__item__txt">Ваш баланс приближается к нулю. Не забудьте его пополнить.</p>#}
                {#</div>#}
                {#<div class="notice__item__foot fx fx-wrap fx-between">#}
                    {#<a href="#" class="btn btn__green notice__item__btn">Пополнить</a>#}
                    {#<a href="#" class="btn btn__gray notice__item__btn">Позже</a>#}
                {#</div>#}
            {#</li>#}
            {#<li class="notice__item">#}
                {#<div class="notice__item__top fx align-center">#}
                    {#<span class="notice__item__status notice__item__status_yellow">НОВОСТИ</span>#}
                    {#<span class="notice__item__date">9 февраля</span>#}
                {#</div>#}
                {#<div class="notice__item__body">#}
                    {#<p class="notice__item__txt">Ув. пользователи. На платформе заработала система интеграций с CRM системами.</p>#}
                    {#<button class="notice__btn notice__btn_refresh"></button>#}
                {#</div>#}
            {#</li>#}
            {#<li class="notice__item">#}
                {#<div class="notice__item__top fx align-center">#}
                    {#<span class="notice__item__status notice__item__status_gray">УВЕДОМЛЕНИЕ</span>#}
                    {#<span class="notice__item__date">9 февраля</span>#}
                {#</div>#}
                {#<div class="notice__item__body">#}
                    {#<p class="notice__item__txt">Ув. пользователи. На платформе заработала система интеграций с CRM системами.</p>#}
                    {#<button class="notice__btn notice__btn_refresh"></button>#}
                {#</div>#}
            {#</li>#}
        </ul>
    </div>
</div>