{% extends '@App/v3/layout_dark.html.twig' %}
{% block content %}
    <!-- Content -->

    <div class="content">

        <!-- Title -->

        <div class="title">
        <h3 class="title__h3">Панель управления</h3>
        </div>

        <!-- Info leads -->

        <div class="row fx fx-wrap info-leads">
        <div class="col-4">
            <div class="info-leads__item">
            <p class="info-leads__title">Средний % целевых лидов</p>
            <span class="info-leads__quantity">56%</span>
            </div>
        </div>
        <div class="col-4">
            <div class="info-leads__item">
            <p class="info-leads__title">Лидов поступило за сегодня</p>
            <span class="info-leads__quantity">56 лидов</span>
            <ul class="info-leads__list fx align-center">
                <li class="info-leads__list__item">47 целевых</li>
                <li class="info-leads__list__item">3 в работе</li>
                <li class="info-leads__list__item">16 нецелевых</li>
            </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="info-leads__item">
            <p class="info-leads__title">Лидов поступило за месяц</p>
            <span class="info-leads__quantity">56 лидов</span>
            <ul class="info-leads__list fx align-center">
                <li class="info-leads__list__item">47 целевых</li>
                <li class="info-leads__list__item">3 в работе</li>
                <li class="info-leads__list__item">16 нецелевых</li>
            </ul>
            </div>
        </div>

        </div>

        <!-- Info room -->
        
        <div class="info-room">
        <div class="title">
            <h4 class="title__h4">Список комнат</h4>
        </div>
        <div class="row">
            <div class="table__box">
            <table class="table info-room__table">
                <thead class="table__head table__row_white">
                <tr>
                    <th class="table__cell">ID комнаты</th>
                    <th class="table__cell">Название комнаты</th>
                    <th class="table__cell">Лидов за сегодня</th>
                    <th class="table__cell">Лидов ожидает</th>
                    <th class="table__cell">Компания</th>
                    <th class="table__cell">Вебмастер</th>
                    <th class="table__cell table__cell__fix"><span class="dots dots__gray"></span></th>
                    <th class="table__cell table__cell__fix"></th>
                </tr>
                </thead>
                <tbody class="table__body">
                <!-- <tr class="table__row">
                    <td class="table__cell">1</td>
                    <td class="table__cell">test</td>
                    <td class="table__cell">21</td>
                    <td class="table__cell">21</td>
                    <td class="table__cell">test</td>
                    <td class="table__cell">lol</td>
                    <th class="table__cell table__cell__fix"><span class="dots dots__gray"></span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row table__row_white">
                    <td class="table__cell">1</td>
                    <td class="table__cell">test</td>
                    <td class="table__cell">21</td>
                    <td class="table__cell">21</td>
                    <td class="table__cell">test</td>
                    <td class="table__cell">lol</td>
                    <th class="table__cell table__cell__fix"><span class="dots dots__gray"></span></th>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr> -->
                </tbody>
            </table>
            </div>
            <div class="table__info text-center">
            <p>На данный момент у нас нет созданных комнат.</p>
            <p><a href="#">Создать первую комнату</a></p>
            </div>
        </div>
        </div>

        <!-- Row -->

        <div class="row info-last fx fx-wrap">
        <div class="col-6">
            <div class="title">
            <h4 class="title__h4">Последние начисления</h4>
            </div>
            <div class="last-charges table__box">
            <table class="table last-charges__table">
                <thead class="table__head table__row_white">
                <tr>
                    <th class="table__cell">Дата</th>
                    <th class="table__cell">Сумма</th>
                    <th class="table__cell table__cell__fix"></th>
                </tr>
                </thead>
                <tbody class="table__body">
                <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                <tr class="table__row table__row_white clickable-row" data-href='https://www.google.com/'>
                    <td class="table__cell">01.04.2019 в 18:56</td>
                    <td class="table__cell">190 руб.</td>
                    <th class="table__cell table__cell__fix"><a href="#" class="table__link"></a></th>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="table__info text-center text-t-uppercase">
            <p><a href="#">СМОТРЕТЬ ПОЛНУЮ ДЕТАЛИЗАЦИЮ</a></p>
            </div>
        </div>
        <div class="col-6">
            <div class="title">
            <h4 class="title__h4">Последние лиды</h4>
            </div>
            <div class="last-leads table__box">
            <table class="table last-leads__table">
                <thead class="table__head table__row_white">
                <tr>
                    <th class="table__cell">Дата</th>
                    <th class="table__cell">Направление</th>
                    <th class="table__cell table__cell__fix"></th>
                </tr>
                </thead>
                <tbody class="table__body">
                <!-- Таблица -->
                </tbody>
            </table>
            </div>
            <div class="table__info text-center">
            <p>На данный момент у нас нет лидов.</p>
            <p class="text-t-uppercase"><a href="#">СМОТРЕТЬ ВСЕХ ЛИДОВ</a></p>
            </div>
        </div>
        </div>

    </div>
{% endblock %}