<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>Выбор типа пользователя</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/modal.css') }}">
</head>
<body>
    <div class="overlay">
        <div class="modal">
            <ul class="modal__list">
                <li class="modal__item modal__item_hello modal-item">
                    <div class="modal-item__wrap">
                        <img src="{{ asset('bundles/app/img/modal-guy.png') }}" alt="Hello" class="modal-item__image">
                        <div class="modal-item__info">
                            <p class="modal-item__text">Привет.</p>
                            <p class="modal-item__text">Меня зовут Эдвард. Сейчас я познакомлю тебя с основными возможностями платформы
                                Edward Lead.</p>
                            <p class="modal-item__text">Здесь Вы сможете получать дополнительных потенциальный покупателей или продать лидов.</p>
                            <p class="modal-item__lead">Как вы планируете работать на платформе?</p>

                            <div class="modal_row">
                                <div class="modal_row_item">
                                    <a class="btn btn_green" style="padding:16px 10px 8px;" href="{{ path('app_user_stay_advertiser') }}">Как рекламодатель</a>
                                    <span>я планирую покупать лиды</span>
                                </div>
                                <div class="modal_row_item">
                                    <a class="btn btn_green" style="padding:16px 10px 8px;" href="{{ path('app_user_stay_webmaster') }}">Как вебмастер</a>
                                    <span>я буду только продавать лиды</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>