<div class="manager">
    <div class="manager__panel fx align-center">
        <div class="manager__box">
            <p>Ваш менеджер</p>
            <span class="manager__name">Имя фамилия</span>
        </div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 306">
            <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35"/>
        </svg>
    </div>
    <div class="manager__info__box">
        <div class="manager__info">
            <p class="manager__infi__title">Ваш персональный менеджер:</p>
            <p class="manager__info__name">Имя Фамилия</p>
            <p class="manager__info__tel">Тел: +X (X) XXX-XX-XX</p>
            <p class="manager__info__time">Пн-Пт с XX:XX до XX:XX по МСК</p>
            <p class="manager__info__link"><a href="#" class="btn btn__green">Написать в службу поддержки</a></p>
        </div>
    </div>
</div>