<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edward Lead Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- Код формы -->
<div style="width:440px;padding: 0 42px;border: 2px solid #d9d9d9;border-radius: 3px;">
    <div style="margin-bottom: 30px;">
        <h1 style="margin-top: 24px;line-height: 1em;text-align: center;font-size: 22px;font-weight: normal;margin-bottom: 14px;">Оставьте свои контактные данные</h1>
        <span style="font-size: 16px;text-align: center;line-height: 1em;">и наш менеджер свяжется с Вами в ближайшее время</span>
    </div>
    <form>
        <div>
            <label style="display: block;margin-bottom: 10px;line-height: 15px;">Ваше имя:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Ваш телефон: (обязательное поле)</label>
            <input type="text" name="phone">
        </div>
        <div>
            <label>Ваш email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <button>Отправить заявку</button>
        </div>
    </form>
    <div>
        <p>Отправляя сведенья через электронную форму, вы соглашаетесь с условиями <a>Политики конфиденциальности</a></p>
    </div>
</div>
<!--/ Код формы  -->
</body>
</html>